.search {
	max-width: 400px;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	margin-left: 5px;
}

.search:focus {
	outline: none;
}

.lessons {
	max-width: 400px;
	width: 100%;
	background-color: var(--lessons-bg);
	position: fixed;
	top: 0;
	left: -400px;
	padding: 40px 60px;
	transition: left 0.5s;
	height: 600px;
	overflow: hidden;
	z-index: 3;
	backdrop-filter: blur(4px);
	border-radius: 0px 0px 5px;
}

.lessons:hover::after {
	display: none;
}

.open {
	left: 0 !important;
	overflow-y: scroll;
}

.lessons.open::after {
	display: none;
}

.close {
	left: -400px;
}

.lessons.close::after {
	display: none;
}

.open__lessons {
	display: none;
	position: fixed;
	width: 48px;
	height: 48px;
	padding: 10px;
	margin: 10px 10px 0 0;
	background: url('../../images/icons/icon__menu-burger.svg') no-repeat center center;
	background-size: cover;
	border: none;
	right: 0;
}

.open__lessons:active {
	transform: scale(0.9);
}

.lessons__title {
	text-align: center;
	margin-bottom: 30px;
	color: var(--title-color);
	font-size: var(--title-font-size);
}
.lessons__list {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	color: var(--lessons-item-color);
}

.lessons__part-title {
	text-align: center;
	font-size: 24px;
	padding: 10px 0 5px;
	font-weight: 700;
	border-bottom: 2px solid var(--lessons-item-color);
	list-style: none;
}

.lessons__item {
	font-size: var(--text-size);
	position: relative;
}

.lessons__item a {
	color: inherit;
	text-decoration: none;
}

@media screen and (hover: hover) {
	.lessons:hover {
		left: 0;
		overflow-y: scroll;
	}

	.lessons {
		left: -370px;
	}

	.lessons__item:hover::after {
		content: '';
		width: 200px;
		height: 3px;
		position: absolute;
		left: 0;
		bottom: -5px;
		border-radius: 5px;

		background-color: rgba(28, 135, 222, 0.7);
		animation: fillLine 0.4s;
	}

	.lessons::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
		border-radius: 0 0 5px;
		background-color: transparent;
	}

	.lessons::-webkit-scrollbar {
		width: 5px;
		background-color: transparent;
	}

	.lessons::-webkit-scrollbar-thumb {
		border-radius: 0 0 5px;
		-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
		background-color: #ffffff;
	}
}

@media (max-width: 1100px) {
	.open__lessons {
		display: block;
		z-index: 4;
	}

	.search {
		margin: 0 auto;
	}
}