body{
    background: linear-gradient(to left, rgba(197, 197, 197, 0.945), rgba(240, 230, 230, 0.836));
}

header h1{
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main p{
    text-align: center;
    font-size: 18px;
}

footer iframe{
    margin: auto;
    display: block;
    width: 500px;
    height: 400px;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    white-space: nowrap;
}

footer ul li{
    display: inline;
    border: 1px solid #000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}