:root {
	--lessons-bg: rgba(0, 0, 0, 0.5);
	--post-bg: rgba(245, 245, 245, 0.9);
	--title-color: rgb(255, 255, 255);
	--title-font-size: 48px;
	--text-color: rgb(0, 0, 0);
	--lessons-item-color: rgb(255, 255, 255);
	--text-font-size: 24px;
}