.preposition__container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
	padding: 20px;
}

.add-work {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	max-width: 600px;
	width: 100%;
}

.input_field {
	padding: 10px 15px;
	font-size: 18px;
	border: none;
}

.input_field:focus {
	outline: none;
}

.input__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	background-color: #ffffff;
	padding: 20px;
}

.input__file {
	display: none;
	flex-direction: column;
	row-gap: 20px;
}

.file_add_method {
	display: flex;
	column-gap: 20px;
	font-size: 20px;
}

.photo__preview {
	max-width: 400px;
	max-height: 400px;
}

.button__send {
	padding: 20px;
	border-radius: 10px;
	border: none;
	transition: 0.2s;
}

.button__send:hover {
	background-color: #b7b7b7;
}

.button__send:active {
	background-color: #a7a7a7;
}

@media (max-width: 572px) {
	body {
		height: 100%;
	}

	.photo__preview {
		max-width: 200px;
		max-height: 200px;
	}

	.add-work {
		row-gap: 5px;
	}
}