.preposition__container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
	padding: 20px;
}

.add-work {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	max-width: 600px;
	width: 100%;
}

.input_field {
	padding: 10px 15px;
	font-size: 18px;
}

.input_field:focus {
	outline: none;
}

.input__author {
}

.input__comment {
}

.input__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	background-color: #ffffff;
	padding: 20px;
}

.input__photo {
}

.input__file {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.input__photo-wrapper {

}

.input__file-wrapper {
}

.photo__preview {
	max-width: 400px;
	max-height: 400px;
}

.button__send {
	padding: 20px;
	border-radius: 10px;
	border: none;
	transition: 0.2s;
}

.button__send:hover {
	background-color: #b7b7b7;
}

.button__send:active {
	background-color: #a7a7a7;
}