@import url('./vendor/normalize.css');
@import url('./vars.css');
@import url('./globals.css');
@import url('./components/notifications.css');
@import url('./components/tags.css');
@import url('./pages/front-page/post.css');
@import url('./default/header.css');
@import url('./default/footer.css');
@import url('./components/navigation.css');
@import url('./animations.css');

body {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: url('../images/bg_main-photo.jpg') no-repeat center center;
	background-size: cover;
	padding: 20px 0 0;
}

.header .container{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

/* MAIN */
.main {
	padding: 0px 40px 50px;
	height: 100%;
	overflow-y: auto;
}

.main::-webkit-scrollbar {
	width: 0;
}

.main__container {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
}

.main__title {
	font-size: clamp(32px, 3vw, var(--title-font-size));
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 5px 10px;
	backdrop-filter: blur(3px);
	border-radius: 15px;
}

.main__content {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 20px;
}

.main__info {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.main__text {
	font-size: 24px;
	background-color: #fff;
	padding: 10px;
	border-radius: 15px;
}

/* POST */


/* FOOTER */

.footer {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
}

.footer__info {
	font-size: 18px;
	text-align: center;
	color: #fff;
}


@media screen and (hover: hover) {
}

@media (max-width: 572px) {
	.main__title {
		margin-bottom: 0;
	}
}


@media (max-width: 498px) {
	.footer__info {
		text-align: left;
	}
}
