@import url('./colors.css');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: url('../images/bg_main-photo.jpg') no-repeat center center;
	background-size: cover;
	padding: 20px 0 0;
}

.container {
	max-width: 1100px;
	width: 100%;
	min-width: 400px;
	margin: 0 auto;
}

.back {
	padding: 10px 20px;
	background-color: #eeeeee;
	border-radius: 20px;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-weight: 600;
	transition: 0.4s;
	letter-spacing: 2px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.dummy {
	font-size: 48px;
	text-align: center;
	margin-top: 60px;
}

/* LESSONS */

.header .container{
	display: flex;
	justify-content: space-between;
	align-items: center
}

.search {
	max-width: 400px;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	margin-left: 5px;
}

.search:focus {
	outline: none;
}

.lessons {
	max-width: 400px;
	width: 100%;
	background-color: var(--lessons-bg);
	position: fixed;
	top: 0;
	left: -400px;
	padding: 40px 60px;
	transition: left 0.5s;
	height: 600px;
	overflow: hidden;
	z-index: 3;
	backdrop-filter: blur(4px);
	border-radius: 0px 0px 5px;
}

.lessons:hover::after {
	display: none;
}

.open {
	left: 0;
	overflow-y: scroll;
}

.lessons.open::after {
	display: none;
}

.close {
	left: -400px;
}

.lessons.close::after {
	display: none;
}

.open__lessons {
	display: none;
	position: fixed;
	width: 48px;
	height: 48px;
	padding: 10px;
	margin: 10px 10px 0 0;
	background: url('../images/icons/icon__menu-burger.svg') no-repeat center center;
	background-size: cover;
	border: none;
	right: 0;
}

.open__lessons:active {
	transform: scale(0.9);
}

.lessons__title {
	text-align: center;
	margin-bottom: 30px;
	color: var(--title-color);
	font-size: var(--title-font-size);
}
.lessons__list {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	color: var(--lessons-item-color);
}
.lessons__item {
	font-size: var(--text-font-size);
	position: relative;
}

.lessons__item a {
	color: inherit;
	text-decoration: none;
}

/* MAIN */
.main {
	padding: 0px 40px 50px;
	height: 100%;
	overflow-y: auto;
}
.main__container {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
}

.main__title {
	font-size: clamp(32px, 3vw, var(--title-font-size));
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 5px 10px;
	backdrop-filter: blur(3px);
	border-radius: 15px;
}

.main__content {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 20px;
}

.main__info {
	font-size: 24px;
	background-color: #fff;
	padding: 10px;
	border-radius: 15px;
}

/* POST */

.post {
	background-color: var(--post-bg);
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 40px;
	padding: 20px;
	align-items: stretch;
	border-radius: 10px;
}

.post__photo {
	max-width: clamp(100px, 30vw, 400px);
	transition: 0.4s;
}

.post__info {
	height: 100%;
}
.post__author {
	font-size: clamp(20px, 6vw, var(--title-font-size));
	margin-bottom: 20px;
}
.post__comment {
	font-size: clamp(14px, 4vw, var(--text-font-size));
}
/* FOOTER */

.footer {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
}

.footer__info {
	font-size: 18px;
	text-align: center;
	color: #fff;
}

@keyframes fillLine {
	0% {
		width: 0;
	}
	100% {
		width: 200px;
	}
}

@media screen and (hover: hover) {
	.post__photo:hover {
		transform: scale(1.3);
	}

	.lessons:hover {
		left: 0;
		overflow-y: scroll;
	}

	.lessons {
		left: -370px;
	}

	.lessons__item:hover::after {
		content: '';
		width: 200px;
		height: 3px;
		position: absolute;
		left: 0;
		bottom: -5px;
		border-radius: 5px;

		background-color: rgba(28, 135, 222, 0.7);
		animation: fillLine 0.4s;
	}

	.lessons:hover::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
		border-radius: 0 0 5px;
		background-color: transparent;
	}

	.lessons:hover::-webkit-scrollbar {
		width: 5px;
		background-color: transparent;
	}

	.lessons:hover::-webkit-scrollbar-thumb {
		border-radius: 0 0 5px;
		-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
		background-color: #ffffff;
	}
}

@media (max-width: 1100px) {
	.post {
		grid-template-columns: 1fr 1fr;
	}

	.open__lessons {
		display: block;
		z-index: 4;
	}
}

@media (max-width: 572px) {
	.main__title {
		margin-bottom: 0;
	}

	.post__photo {
		max-width: 260px;
	}

	.post {
		grid-template-columns: 1fr;
		gap: 10px;
	}

	.post__author {
		margin-bottom: 5px;
	}
}

@media (max-width: 498px) {
	.post {
		grid-template-columns: auto;
		justify-content: center;
	}

	.footer__info {
		text-align: left;
	}
}
