.tests__wrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
}
.test__card__wrapper {
	background-color: #ffffff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}
.test__card__title {
	font-size: 22px;
}
.test__card__language {
	font-size: 24px;
	color: #43d14f;
}
.test__card__description {
	font-size: 18px;
}
.test__card__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 18px;
}
.test__card__author {
}
.test__card__duration {
}
.test__card__score {
}
.test__card__mode {
}