form{
    margin: 0 auto;
    width: 350px;
    color: aliceblue;
    background-color: rgb(61, 61, 61);
    border-radius: 5%;
}

header h1{
    text-align: center;
}

body{
    background-color: rgba(255, 189, 127, 0.945);
}
main h2{
    text-align: center;
}

input{
    margin: 2px 90px;
}

select{
    margin: 2px 60px;
}

button {
    margin: 2px 30px;
    background-color: #fb8728;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 20px;
    border: none;
}

button:hover{
    background-color: #ffcca1;
    color: #797979d5;
    border:2px #000000;
}

button:active{
    background-color: #df6a26c9;
    color: #ffffff9f;
    border-radius: 7%;
}


footer{
    max-width: 1700px;
    max-height: 50px;
}

li {
    display: inline;
    margin: 20px 190px;
    border: 1px solid #000000;
    background-color: #fff;
    list-style: none;
}

.info{
    margin:0 auto;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    width: 410px;
    height: 450px;
    background-color: rgb(61,61,61);
    border-radius: 5%;
    color: #fff;
}