body{
    background-color: deepskyblue;
}

.dirt{
    background-color: rgba(92, 178, 51, 1);
    width: 1500px;
    height: 200px;
    position: absolute;
    margin-top: 550px;
    
}

.road{
    position: absolute;
    background-color: rgba(69, 69, 68, 1);
    width: 300px;
    height: 200px;
    margin-left: 600px;
}

.sky{
    position: absolute;
    max-width: 1400px;
    max-height: 500px;
    margin: 100px;
}

.cloud_1{
    background-color: azure;
    width: 150px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    margin: 10px 400px;
}

.cloud_2{
    background-color: azure;
    width: 150px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    margin: -10px 100px;
}

.cloud_3{
    background-color: azure;
    width: 150px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    margin: 20px 800px;
}

.cloud_4{
    background-color: azure;
    width: 150px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    margin: 70px 600px;
}

.cloud_5{
    background-color: azure;
    width: 150px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    margin: -20px 900px;
}

.cloud_6{
    background-color: azure;
    width: 150px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    margin: 20px -100px;
}

.sun{
    background-color: gold;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    margin: 0px 900px;
}

.line_1{
    width: 20px;
    height: 25px;
    border-radius: 20px;
    background-color: azure;
    margin-left: 140px;
    margin-bottom: 15px;
}

.line_2{
    width: 20px;
    height: 50px;
    border-radius: 20px;
    background-color: azure;
    margin-left: 140px;
    margin-bottom: 15px;
}

.line_3{
    width: 20px;
    height: 50px;
    border-radius: 20px;
    background-color: azure;
    margin-left: 140px;
}

.line_4{
    width: 20px;
    height: 25px;
    border-radius: 20px;
    background-color: azure;
    margin-left: 140px;
    margin-top: 15px;
    
}

.tree_1{
    width: 200px;
    height: 300px;
    position: absolute;
    margin: 350px 300px;
}

.tree_1 .grass_1{
    background-color:rgb(45, 90, 24) ;
    width: 100px;
    height: 100px;
    border-radius: 40px;
}

.tree_1 .wood_1{
    background-color: bisque;
    width: 30px;
    height: 210px;
    margin-bottom: 20px;
    margin-left: 35px;
}

.tree_2{
    width: 200px;
    height: 300px;
    position: absolute;
    margin: 380px 100px;
}

.tree_2 .grass_2{
    background-color:rgb(45, 90, 24) ;
    width: 100px;
    height: 100px;
    border-radius: 40px;
}

.tree_2 .wood_2{
    background-color: bisque;
    width: 30px;
    height: 210px;
    margin-bottom: 20px;
    margin-left: 35px;
}
.tree_3{
    width: 200px;
    height: 300px;
    position: absolute;
    margin: 320px 450px;
}

.tree_3 .grass_3{
    background-color:rgb(45, 90, 24) ;
    width: 100px;
    height: 100px;
    border-radius: 40px;

}

.tree_3 .wood_3{
    background-color: bisque;
    width: 30px;
    height: 210px;
    margin-bottom: 20px;
    margin-left: 35px;
}


.tree_4{
    width: 200px;
    height: 300px;
    position: absolute;
    margin: 320px 950px;
}

.tree_4 .grass_4{
    background-color:rgb(45, 90, 24) ;
    width: 100px;
    height: 100px;
    border-radius: 40px;
}

.tree_4 .wood_4{
    background-color: bisque;
    width: 30px;
    height: 210px;
    margin-bottom: 20px;
    margin-left: 35px;
}

.tree_5{
    width: 200px;
    height: 300px;
    position: absolute;
    margin: 350px 1150px;
}

.tree_5 .grass_5{
    background-color:rgb(45, 90, 24) ;
    width: 100px;
    height: 100px;
    border-radius: 40px;
}

.tree_5 .wood_5{
    background-color: bisque;
    width: 30px;
    height: 210px;
    margin-bottom: 20px;
    margin-left: 35px;
}

.tree_6{
    width: 200px;
    height: 300px;
    position: absolute;
    margin: 400px 1350px;
}

.tree_6 .grass_6{
    background-color:rgb(45, 90, 24) ;
    width: 100px;
    height: 100px;
    border-radius: 40px;
}

.tree_6 .wood_6{
    background-color: bisque;
    width: 30px;
    height: 210px;
    margin-bottom: 20px;
    margin-left: 35px;
}
