body{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.849), rgba(153, 144, 144, 0.808));
}

h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
}

h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}
p{
    font-size: 18px;
}
